{% extends 'website/layout/base.html' %}
{% load static %}

{% block title %}Hollow - Area de Cursos{% endblock title %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/course.css' %}">
    <div class="row justify-content-center">
        <div class="row col-md-12 align-items-center justify-content-center" id="title-header">
            <h1 class="align-self-center">{{ course.title }}</h1>
        </div>
    </div>
    </br>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="list-group">
                {% for macrotopic in course.macrotopic.all %}
                <div class="list-group-item">
                    <div class="row col-md-12 align-content-center" style="height: 5vh">
                        <button class="btn btn-link"
                                data-toggle="collapse"
                                data-target="#collapse{{ macrotopic.id }}"
                                aria-expanded="false"
                                aria-controls="collapse{{ macrotopic.id }}">
                            {{ macrotopic.title }}
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="list-group collapse" id="collapse{{ macrotopic.id }}">
                            {% for microtopic in macrotopic.microtopic.all %}
                                <div class="list-group-item">
                                    <div class="row justify-content-center">
                                        <div class="row col-md-12 align-content-center" style="height: 5vh">
                                            {{ microtopic.title }}
                                        </div>
                                        <div class="col-md-10 justify-content-center">
                                            <div class="embed-responsive embed-responsive-16by9 py-0 my-0">
                                                <iframe class="embed-responsive-item" src="{{ microtopic.video.url }}"
                                                allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        <div class="list-group-item">
                            <div class="row col-md-12 align-content-center" style="height: 5vh">
                            {{ macrotopic.exercise_list }}
                            </div>
                        </div>
                        </div>

                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}
