{% extends 'website/layout/base.html' %}
{% load static %}

{% block title %}Hollow - Cursos{% endblock title %}

{% block content %}

 {% for course in courses %}
    <div class="blog-card">

        <div class="description text-left">
            <h1>{{ course.title }}</h1>
            <h2>{{ course.begin_date|date:"j F o à G:i" }}</h2>
            <p class="read-more">
                <a href="/cursos/{{ course.id }}">Ver mais</a>
            </p>
        </div>
    </div>

{% endfor %}


{% endblock content %}
