{% extends 'website/layout/base.html' %}
{% load static %}

{% block title %}Hollow - Como funciona{% endblock title %}

{% block content %}
    <div class="d-flex align-items-center image-header">
        <img class="image-1 img-fluid" src="{% static 'website/img/big_image_01.png' %}">
        <img class="image-page-title" src="{% static 'website/img/how_it_works_title.png' %}">
    </div>

    <!--image-header-->
    <div class="container-fluid py-3">
        <div class="row py-4">
            <div class="col-12 text-center">
                <h2 class="yellow-hollow font-weight-bold text-capitalize">POTENCIALIZE SEU DESEMPENHO</h2>
                <div class="container text-center col-8">
                    <h3 class="text-muted text-center">Após assinar um dos nossos planos, terá acesso completo e ilimitado a todos os seguintes recursos:</h3>
                </div>
            </div>
        </div>
        <!--text-1-->
        <div class="row py-4 px-5">
            <div class="col-md-6 col-sm-12 py-2 text-right align-self-center">
                <h2 class="yellow-hollow font-weight-bold text-capitalize">VIDEO AULAS</h2>
                <h3 class="text-muted text-right">Serão curtas, específicas e precisas.</h3>
                <div class="py-2">
                    <img class="img-icon img-fluid" src="{% static 'website/img/pc_yellow.png' %}">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 py-2 ">
                <img class="img-fluid shadow-lg align-self-center" src="{% static 'website/img/girl_video_classes.png' %}">
            </div>
        </div>
        <!--text-on-left-->
        <div class="row py-4 px-5">
            <div class="col-md-6 col-sm-12 py-2 align-self-center">
                <img class="img-fluid shadow-lg align-self-center" src="{% static 'website/img/group_pre_test.png' %}">
            </div>
            <div class="col-md-6 col-sm-12 py-2 text-right align-self-center">
                <h2 class="yellow-hollow font-weight-bold text-capitalize">FÓRUM EM DIRETO PRÉ PROVA</h2>
                <h3 class="text-muted text-left">Com o apoio dos nossos instrutores, as suas dúvidas ficarão no passado.</h3>
                <div class="py-2">
                    <img class="img-icon" src="{% static 'website/img/doubt_yellow.png' %}">
                </div>
            </div>
        </div>

        <!--text-on-right-->
        <div class="row py-4 px-5">
            <div class="col-md-6 col-sm-12 py-2 text-right align-self-center">
                <h2 class="yellow-hollow font-weight-bold text-capitalize">PROVAS E EXERCÍCIOS RESOLVIDOS</h2>
                <h3 class="text-muted text-right">Depois da teoria está na hora de colocar em prática. Para isso, temos diversos exercícios e provas resolvidas passo a passo.</h3>
                <div class="py-2">
                    <img class="img-icon" src="{% static 'website/img/test_yellow.png' %}">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 py-2 align-self-center ">
                <img class="img-fluid shadow-lg" src="{% static 'website/img/books_and_ipad.png' %}">
            </div>
        </div>
        <!--text-on-left-->
    </div>
    <!--page-content-->

{% endblock content %}