{% extends 'website/layout/base.html' %}
{% load static %}

{% block title %}Hollow - Como funciona{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'website/css/howitworks.css' %}">
<div class="image-header">
    <img class="image-1" src="{% static 'website/img/big_image_01.png' %}">
    <img class="image-page-title" src="{% static 'website/img/how_it_works_title.png' %}">
</div>
<!--image-header-->
<div class="page-content">
    <div class="text-1-title">
        <p>POTENCIALIZE SEU DESEMPENHO</p>
    </div>
    <div class="text-1-body">
        <p> Após assinar um dos nossos planos, terá acesso </p>
        <p> completo e ilimitado a todos os seguintes recursos: </p>
    </div>
</div>


{% endblock content %}