{% extends 'website/layout/base.html' %}
{% load static %}

{% block title %}
Hollow - Homepage
{% endblock title %}

{% block content %}

<section>
    <div class="row index-main-image">
        <img src="{% static 'website/img/index_header_bg.png' %}" class="col-12">
        <div class="btn-group-vertical index-start-now-buttons">
            <button class="btn btn-warning"><a href="">Começe já!</button>
            <button class="btn btn-link">Saiba mais</button>
        </div>
    </div>

</section>


{% endblock %}