{% extends 'website/layout/base.html' %}
{% load static %}


{% block title %}
Hollow - Homepage
{% endblock title %}

{% block content %}

<!--image and start now buttons-->
<section>
    <div class="row index-main-image">
        <img src="{% static 'website/img/index/index_header_bg.png' %}" class="col-12">
        <img src="{% static 'website/img/index/transforme_text.png' %}" class="col-10 index-text-over-image">
        <div class="btn-group-vertical index-start-now-buttons">
            <button class="btn btn-warning index-start-button"><a href="" class="index-start-link">Comece
                    agora!</a></button>
            <button class="btn btn-link"><a href="" class="index-start-link">Saiba mais</a></button>
        </div>
    </div>
</section>

<!--video section-->
<section>
    <div class="row index-video">
        <div class="col-12">
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div>
</section>

<!--Animated boxes section-->
<section>
    <div class="row justify-content-around">
        <div class="col-small">
            <!--This img's tags has id's for javacript usage-->
            <img src="{% static 'website/img/index/indextextbox1.png' %}" class="index-text-box" id="index-text-box1">
        </div>
        <div class="col-small">
            <img src="{% static 'website/img/index/indextextbox2.png' %}" class="index-text-box" id="index-text-box2">
        </div>
        <div class="col-small">
            <img src="{% static 'website/img/index/indextextbox3.png' %}" class="index-text-box" id="index-text-box3">
        </div>

</section>

<script>
    var textBox1 = document.getElementById("index-text-box1");
    textBox1.addEventListener("mouseover", () => {
        if (
            textBox1.src.match("{% static 'website/img/index/index_header_bg.png' %}")
        ) {
            textBox1.src = "{% static 'website/img/index/indextextbox1.png' %}";
        } else {

            textBox1.src = "{% static 'website/img/index/index_header_bg.png' %}";
        }
    });
</script>



{% endblock %}