{% extends 'website/layout/base.html' %}
{% load static %}

{% block title %}
Hollow - Homepage
{% endblock title %}

{% block content %}

<!--image and start now buttons-->
<section>
    <div class="row index-main-image">
        <img src="{% static 'website/img/index_header_bg.png' %}" class="col-12">
        <img src="{% static 'website/img/transforme_text.png' %}" class="col-10 index-text-over-image">
        <div class="btn-group-vertical index-start-now-buttons">
            <button class="btn btn-warning index-start-button"><a href="" class="index-start-link">Comece
                    agora!</a></button>
            <button class="btn btn-link"><a href="" class="index-start-link">Saiba mais</a></button>
        </div>
    </div>
</section>

<!--video section-->
<section>
    <div class="row index-video">
        <div class="col-12">
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div>
</section>

<!--Animated boxes section-->
<section>
    <div class="row row-cols-3 justify-content-md-around">
        <div class="col" style="border:2px solid black;">
            <p class="index-back-text">Vídeo aulas com o conteúdo totalmente focado na cadeira da sua faculdade.
                Serão
                curtas,
                específicas e precisas. Tudo o que o aluno precisa para entender.</p>
        </div>
        <div class="col" style="border:2px solid red;">
            <p>FÓRUM <br>EM DIRETO <br>PRÉ PROVA</p>
        </div>
        <div class="col" style="border:2px solid blue;">
            <p class="index-back-text">Fórum em direto pré prova para que o aluno possa esclarecer todas as suas
                dúvidas,
                fazer
                uma revisão e ir preparado para sua prova.</p>
        </div>
        <div>
</section>


{% endblock %}