{% extends 'website/layout/base.html' %}
{% load static %}

{% block title %}Hollow - Login{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="{% static 'website/img/logo_hollow.png' %}" class="icone-hollow center" alt="logo_hollow">
                <div class="card card-body">
                    <form class="form" action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>


                        {% endif %}
                        <input class="emailinput form-control" id="email" type="email" placeholder="Email" name="email"
                               required>
                        <br>
                        <input class="textinput textInput form-control" id="password" type="password"
                               placeholder="Senha"
                               name="password" required>
                        <br>
                        <button class="mx-4 button" type="submit" name="login">Entrar</button>
                    </form>

                    <a class="mx-4 button" href="{% url 'index' %}">Esqueci minha senha</a>

                </div>
            </div>


            <div class="col-md-8">

                <div class="container">

                    <img src="{% static 'website/img/login/login-background.png' %}" class="login-background-image"
                         alt="logo_hollow">
                </div>


            </div>
        </div>
    </div>





{% endblock content %}

{% block myjssheet %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock myjssheet %}