{% extends 'website/layout/base.html' %}
{% load static %}

{% block title %}
Hollow - Homepage
{% endblock title %}

{% block content %}


<section>
    <div style="background: #f8d5cf; position" class="item home-full-item align-content-center" ,>
        <img src="{% static 'website/img/index_header_bg.png' %}" alt="" class="bg-image">
        <div class="row">
            <div class="container-fluid mx-0 position-absolute">
                <img src="{% static 'website/img/transforme_text.png' %}" class="img-fluid text-center" alt="figure.">
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        {# TODO: Refactor later to delete all break points.#}
        <div class="row">
            <div class="container-fluid position-absolute text-center align-items-end " , style="bottom: 5vh;">
                <div class="container-fluid mb-3 ">
                    <a class="index-button index-button-bg" href="{% url 'login' %}">Comece agora!</a>
                </div>
                <div class="container-fluid mb-2">
                    <a class="index-button pt-3" href="{% url 'whoweare' %}">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>

</section>


<section id="index-body-content-1"
         style="background-image: url('{% static 'website/img/home_bg.png' %}');background-size:100%;">

</section>
<section style="margin-top:95vh;">
    <div class="index-video-section">
        <iframe width="700" height="380" src="https://www.youtube.com/embed/tgbNymZ7vqY" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>

    </div>
    <div id="index-content-row">

        <div class="index-card-content">
            <div class="index-thefront">
                <div class="index-card-title">
                    <p>Vídeo <br> Aulas</p>
                </div>
                <img src="{% static 'website/img/pc_yellow.png' %}" class="index-imgs">
            </div>

            <div class="index-theback">
                <p class="index-back-text">Vídeo aulas com o conteúdo totalmente focado na cadeira da sua faculdade.
                    Serão
                    curtas,
                    específicas e precisas. Tudo o que o aluno precisa para entender.</p>
            </div>
        </div>

        <div class="index-card-content">
            <div class="index-thefront">
                <div class="index-card-title">
                    <p>FÓRUM <br>EM DIRETO <br>PRÉ PROVA</p>
                </div>
                <img src="{% static 'website/img/doubt_yellow.png' %}" class="index-imgs">
            </div>

            <div class="index-theback">
                <p class="index-back-text">Fórum em direto pré prova para que o aluno possa esclarecer todas as suas
                    dúvidas,
                    fazer
                    uma revisão e ir preparado para sua prova.</p>
            </div>
        </div>

        <div class="index-card-content">
            <div class="index-thefront">
                <div>
                    <p class="index-card-title">PROVAS E <br>EXERCÍCIOS<br>RESOLVIDOS</p>
                </div>
                <img src="{% static 'website/img/test_yellow.png' %}" class="index-imgs">
            </div>

            <div class="index-theback">
                <p class="index-back-text">Provas anteriores e exercícios resolvidos passo a passo para o aluno colocar
                    toda a
                    teoria
                    aprendida em prática. As quantidades e variedades de exercícios são muitas.</p>
            </div>
        </div>
    </div>

    <div class="index-sign-in">
        <div class="index-sign-in-img">
            <img src="{% static 'website/img/cardint.png' %}" style="width: 100%;">

        </div>
        <div id="index-sign-in-button-div">
            <a class="index-sign-in-button" href="{% url 'login' %}">Comece já!</a>
        </div>
    </div>

    <div id="index-our-courses-section">
        <div id="index-our-courses">
            <p class="index-card-title">NOSSOS CURSOS</p>
            <div id="index-our-courses-info">
                <img src="{% static 'website/img/pencil_yellow.png' %}" style="width:15%">
                <div>
                    <p id="index-our-courses-text">
                        Macroeconomia I<br>
                        Microeconomia I<br>
                        Estatística I<br>
                        Matemática I
                    </p>
                </div>
            </div>
        </div>

        <div id="index-sugestion">
            <div class="d-flex flex-column">
                <p class="index-line-sugestion">Estamos construindo novos conteúdos constantemente.</p>
                <p class="index-line-sugestion">Quer contribuir? Deixe aqui sua sugestão.</p>
            </div>
            <center>
                <div id="index-sugestion-input-field">
                    <form action="">
                        <input type="text" id="index-sugestion-text" name="sugestion"
                               value="Como aprender matemática por osmose?"><br>
                        <a href="" id="index-send-sugestion-button">Enviar</a>
                    </form>
                </div>
            </center>
        </div>
    </div>

    <div id="index-sign_in_now">
        <img src="{% static 'website/img/sign_in_now_img.png' %}" style="width: 90%;box-shadow: 2px 2px 5px #4d4c4d;">

        <div id="index-sign-in-button-div2">

            <a id="index-sign-in-button2" style="padding: 1vw 4vw 1vw 4vw;" href="{% url 'login' %}">Comece já!</a>
        </div>
    </div>

    <div class="index-sign-in">
        <div class="index-sign-in-img">
            <img src="{% static 'website/img/refer_win.png' %}" style="width: 100%;">

        </div>
        <div id="index-refer-button">
            <a class="index-sign-in-button" href="{% url 'referandwin' %}">Convide um amigo</a>
        </div>
    </div>

</section>

{% endblock %}

/* Header image with buttons */
.index-header {
  display: flex;
  align-items: center;
}

#index-header-image-bg {
  width: 100%;
}





#index-transforme-bg {
  width: 95%;
  position: absolute;
  margin-top: 13%;
  padding-left: 2.5%;
}

#index-buttons {
  position: absolute;
  margin-top: -17%;
  width: 100%;
  text-align: center;
}

.index-button {
  color: #4d4c4d;
  font-size: 1.5vw;
  font-weight: 500;
  text-shadow: 1px 1px 1px #4d4c4d;
}

.index-button-bg {
  background-color: #e8c854;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 1vw;
  text-shadow: none;
  font-weight: 700;
  box-shadow: 2px 2px 5px #4d4c4d;
}

.index-button-bg:hover {
  background-color: #4d4c4d;
  padding: 1vw 2vw 1vw 2vw;
  text-decoration: none;
  border-radius: 1vw;
}

/* All page content */
.index-body-content-1 {
  position: relative;
  flex-direction: column;
  display: flex;
  width: 100%;
}

/* Video section */
.index-video-section {
  margin-bottom: 15%;
  display: flex;
  justify-content: center;
}

#index-video {
  text-align: center;
  box-shadow: 4px 4px 7px #4d4c4d;
}

/* Cards section */
#index-content-row {
  width: 100%;
  height: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.index-card-content {
  align-items: center;
  width: 27%;
  height: 27vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}

.index-card-content:hover {
  transform: rotateY(180deg);
}

.index-thefront {
  display: flex;
  box-shadow: 2px 2px 5px #858285;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index-theback {
  display: flex;
  box-shadow: 2px 2px 5px #858285;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}

.index-imgs {
  width: 30%;
}

.index-card-title {
  text-align: center;
  font-size: 3vw;
  color: #f2c747ff;
  font-weight: bold;
}

.index-back-text {
  text-align: center;
  margin: 8px;
  font-size: 2vw;
  color: #868589;
  font-weight: bold;
}

/* Sign in banner */
.index-sign-in {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 7%;
}

.index-sign-in-img {
  position: relative;
  box-shadow: 2px 2px 5px #858285;
  width: 90%;
}

#index-sign-in-button-div {
  position: absolute;
  margin-right: 5vw;
  width: 90%;
  text-align: right;
}

.index-sign-in-button {
  color: #4d4c4d;
  font-size: 1.5vw;
  font-weight: 500;
  text-shadow: 1px 1px 1px #4d4c4d;
  background-color: #f1f1f1ff;
  padding: 1vw 3vw 1vw 3vw;
  border-radius: 0.7vw;
  text-shadow: none;
  font-weight: 700;
  box-shadow: 2px 2px 5px #4d4c4d;
}

#index-sign-in-button:hover {
  background-color: #4d4c4d;
  padding: 1vw 3vw 1vw 3vw;
  text-decoration: none;
  border-radius: 1vw;
}

/* Our courses and sugestion */
#index-our-courses-section {
  display: flex;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 7%;
}

#index-our-courses {
  display: flex;
  width: 45%;
  text-align: center;
  flex-direction: column;
}

#index-our-courses-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

#index-our-courses-text {
  text-align: left;
  font-size: 1.5vw;
  color: #868589;
  font-weight: bold;
}

#index-sign-in-button-div2 {
  display: flex;
  position: absolute;
  bottom: 5vw;
}

#index-sign-in-button2 {
  color: #4d4c4d;
  font-size: 1.5vw;
  font-weight: 500;
  text-shadow: 1px 1px 1px #4d4c4d;
  background-color: #f1f1f1ff;
  padding: 1vw 3vw 1vw 3vw;
  border-radius: 0.7vw;
  text-shadow: none;
  font-weight: 700;
  box-shadow: 2px 2px 5px #4d4c4d;
}

#index-sign-in-button2:hover {
  background-color: #4d4c4d;
  padding: 1vw 3vw 1vw 3vw;
  text-decoration: none;
  border-radius: 1vw;
}

/*sugestion card*/

#index-sugestion {
  display:inline-table;
  padding-top: 2vw;
  background-color: #f2c747ff;
  width: 48%;
  height: 15vh;
  border-radius: 2px;
  box-shadow: 2px 2px 5px #4d4c4d;
  margin-top: 4vw;
}

.index-line-sugestion {

  letter-spacing: -0.03vw;
  width: 100%;
  height: 1.5vh;
  text-align: center;
  font-size: 1.5vw;
  color: aliceblue;
  font-family: League Spartan Bold;
}

#index-sugestion-input-field {

  text-align: center;
  width: 100%;
}

#index-sugestion-text {
  margin-top: 2vh;
  text-align: center;
  width: 27vw;
  height: 6vh;
  border-style: none;
  border-radius: 0.4vw;
  color: #c2bec2;
  font-size: 1vw;
  font-family: League Spartan;
}

#index-send-sugestion-button {

  color: white;
  font-size: 1.5vw;
  text-decoration: none;
}
#index-send-sugestion-button:hover {
  text-decoration: none;
}

/* Inscreva se ja */
#index-sign_in_now {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-content: flex-end;
  margin-bottom: 7%;
}

/* Refer and win */
#index-refer-button {
  position: absolute;
  margin-top: 6vw;
  width: 90%;
  text-align: center;
}
