{% extends 'website/layout/base.html' %}
{% load static %}

{% block title %}Hollow - Indique e ganhe{% endblock title %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/refererandwin.css' %}">
    <div class="d-flex align-items-center image-header" id='header-images'>
        <img class="image-header-bg img-fluid" src="{% static 'website/img/referer_n_win_header_img.png' %}">
        <img class="image-header-title" id="title-img" src="{% static 'website/img/referer_n_win_title_img.png' %}">
        <img class="image-header-title" id="favicon-img" src="{% static 'website/img/favicon-hollow.png' %}">
    </div>
    <!--image-header-->
    {#    TODO: change background image#}
    <div class="container-fluid py-3" style=
            'background: url("{% static 'website/img/how_it_works_bg.png' %}") scroll;
                    background-size:50%;'
    >
        <div class="row py-4">
            <div class="col-12 text-center">
                <h2 class="yellow-hollow" id="tutorial-subtitle">COMO FUNCIONA?</h2>
                <div class="container text-center col-8">
                    <h3 class="text-muted text-center" id="share-link-text">
                        Compartilhe o link gerado com os seus amigos</h3>
                    <h3 class="text-muted text-center" id="share-link-text">    
                        O seu amigo aplica o link no nosso site</h3>
                    <h3 class="text-muted text-center" id="share-link-text">
                        Pronto! Agora os dois têm acesso gratuito!</h3>
                    <button class='button' type="button">
                        <a>Gerar link agora mesmo!</a>
                    </button>
                </div>
            </div>
        </div>
        {#    TODO: change left image #}
        <!--text-1-->
        <!--text-on-right-->
        <div class="row py-4 px-5">
            <div class="col-md-6 col-sm-12 py-2 align-self-center" style='bottom: 0;'>
                <img  id='rules-img' src="{% static 'website/img/girls.png' %}">
            </div>
            <div class="col-md-6 col-sm-12 py-2 align-self-center" >
                <h2 class="yellow-hollow" id="rules-subtitle">REGRAS</h2>
                <div id="text-on-left">
                    <ul class="text-muted text-left" >
                        <li style="list-style-type: None;">Não poderão utilizar o cupão de um amigo, os
                            indivíduos nas seguintes situações:
                        </li>
                        <li style="list-style-type: None;">
                            <br>
                        </li>
                        <li>Aqueles que são ou já foram assinantes da
                            Hollow;
                        </li>
                        <li>Aqueles que já utilizaram o cupão uma vez.
                        </li>
                        <li>Os usuários terão de ser pessoas reais, com
                            NIF e conta própria no Facebook; caso
                            contrário, serão entendidos como robôs
                        </li>
                        <li>O indivíduo com o link poderá ter o seu
                            cupão utilizado no máximo 5 vezes. Ou seja,
                            tem um máximo de 25 dias de acesso gratuito.
                        </li>
                        <li>A Hollow tem o direito de cancelar o cupão
                            de qualquer usuário que desrespeitar as
                            regras
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <section id="ribbon-hollow">
        <div class="container py-3 ribbon-hollow"
             style="background-image: url('{% static 'website/img/bg_word.png' %}');">
            <div class="row">
                <div class="col-md-2 py-3 px-5 align-self-center text-center">
                    <img class="icone-hollow" src="{% static 'website/img/pc_people.svg' %}" alt="Card image cap">
                </div>
                <div class="col-md-7 col-sm-12 py-2 px-sm-1 mx-sm-3 align-self-center">
                    <h3>
                        Inscreva-se e comece a estudar agora mesmo
                    </h3>
                    <h5> Potencialize seu desempenho. </h5>
                </div>
                <div class="col-md-2 col-sm-12 py-sm-2 mx-sm-3 align-self-center text-center">
                    <a class="btn btn-light btn-light-hollow rounded" href="{% url 'login' %}" role="button">Comece
                        já!</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}