{% extends 'website/layout/base.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}Hollow - novo estudante{% endblock title %}

{% block content %}
    {# TODO Correct misplaced error messages and horizontal page size.#}
    <section id="ribbon-hollow">
        <div class="container-fluid px-0 mx-0 ribbon-hollow mt-6" style="background-image: url('{% static 'website/img/bg_word.png' %}');">
            <div class="row">
                <div class="col-md-2 py-3 px-5 align-self-center text-right">
                    <img class="icone-hollow" src="{% static 'website/img/pc_people.svg' %}" alt="Card image cap">
                </div>
                <div class="col-md-7 col-sm-12 py-2 px-sm-1 mx-sm-3 align-self-center">
                    <h3>
                        Inscreva-se e comece a estudar agora mesmo
                    </h3>
                    <h5> Potencialize seu desempenho. </h5>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-2 mt-4 col-md-8">
        {#        <div class="card card-body text-left">#}
        <form method="POST" enctype='multipart/form-data' id="userForm">
            {% csrf_token %}
            <div class="form-row text-left">
                <div class="form-group col-md-4 mb-2">
                    <p style="text-transform: uppercase">{{user_registration_form.password1.label_tag }}</p>
                    {{ user_registration_form.password1 }}
                    {% if not user_registration_form.password1.help_text %}
                        <small class="form-text text-muted">{{ user_registration_form.password1.help_text}}</small>
                    {% endif %}
                </div>
                <div class="form-group col-md-6 mb-2">
                    <p style="text-transform: uppercase">{{user_registration_form.password2.label_tag }}</p>
                    {{ user_registration_form.password2 }}
                </div>
            </div>
            <div class="form-row text-left">
                <div class="form-group col-md-4 mb-2">
                    <p style="text-transform: uppercase">{{user_registration_form.telephone.label_tag }}</p>
                    {{ user_registration_form.telephone }}
                </div>
                <div class="form-group col-md-4 mb-2">
                    <p style="text-transform: uppercase">{{user_registration_form.gender.label_tag }}</p>
                    {{ user_registration_form.gender }}
                </div>
                <div class="form-group col-md-4 mb-2">
                    <p style="text-transform: uppercase">{{user_registration_form.photo.label_tag }}</p>
                    {{ user_registration_form.photo }}
                </div>
            </div>
            <div class="form-row text-left">
                <div class="form-group col-md-4 mb-2">
                    <p style="text-transform: uppercase">{{user_registration_form.birthday.label_tag }}</p>
                    {{ user_registration_form.birthday }}
                </div>
                <div class="form-group col-md-4 mb-2">
                    <p style="text-transform: uppercase">{{user_registration_form.job_title.label_tag }}</p>
                    {{ user_registration_form.job_title }}
                </div>
                <div class="form-group col-md-4 mb-2 pt-3">
                    <p style="text-transform: uppercase">{{user_registration_form.is_subscribed_newsletter.label_tag }}</p>
                    {{ user_registration_form.is_subscribed_newsletter }}
                </div>
            </div>
            <div class="form-row text-left">
                <div class="form-group col-md-4 mb-2">
                    <p style="text-transform: uppercase">{{user_registration_form.twitter_link.label_tag }}</p>
                    {{ user_registration_form.twitter_link }}
                </div>
                <div class="form-group col-md-4 mb-2">
                    <p style="text-transform: uppercase">{{user_registration_form.linkedin_link.label_tag }}</p>
                    {{ user_registration_form.linkedin_link }}
                </div>
            </div>
            <div class="form-row text-left">
                <div class="form-group col-md-4 mb-2">
                    <p style="text-transform: uppercase">{{user_registration_form.address.label_tag }}</p>
                    {{ user_registration_form.address }}
                </div>
                <div class="form-group col-md-4 mb-2">
                    <p style="text-transform: uppercase">{{user_registration_form.address_complement.label_tag }}</p>
                    {{ user_registration_form.address_complement }}
                </div>
                <div class="form-group col-md-4 mb-2">
                    <p style="text-transform: uppercase">{{user_registration_form.zip_code.label_tag }}</p>
                    {{ user_registration_form.zip_code }}
                </div>
            </div>
            <div class="form-row text-left">
                <div class="form-group col-md-4 mb-2">
                    <p style="text-transform: uppercase">{{user_registration_form.city.label_tag }}</p>
                    {{ user_registration_form.city }}
                </div>
                <div class="form-group col-md-4 mb-2">
                    <p style="text-transform: uppercase">{{user_registration_form.country.label_tag }}</p>
                    {{ user_registration_form.country }}
                </div>
                <div class="form-group col-md-4 align-self-end ">
                    <a href="{% url 'form_user' %}">
                        <button class="btn-warning-hollow" type="submit">
                            Se cadastrar
                        </button>
                    </a>
                </div>
            </div>

        </form>
    </div>



{% endblock content %} }}

