{% extends 'website/layout/base.html' %}
{% load static %}

{% block title %}Hollow - Quem somos{% endblock title %}



{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'website/css/whoweare.css' %}">

	<div class="image-header">
		<img src="{% static 'website/img/weare_hand.png' %}"><!--backgroud-img-->
	</div><!--image-header-->

	<div class="weare-text-1">
        <p class="weare-introduction">
            A <span style="color: #E8C854;">Hollow</span> é uma startup de educação, criada em 2020, com o sonho de ajudar
            estudantes a melhorar sua performance e desempenho no âmbito académico. Não
            somos apenas uma plataforma online de vídeo aulas. Queremos, acima de tudo,
            transformar a forma de aprendizagem dos estudantes, desenvolvendo um
            ambiente dinâmico e inovador que implicará uma experiência totalmente
            proveitosa e agradável.
        </p>
	</div><!--weare-text-1-->

    <section class="weare-section-1">
        <div class="center">
            <div class="conteiner-section">
                <div class="container-single">
                    <div class="text-container-single">
                        <h2>ONDE ESTAMOS?</h2>
                        <p>
                            Atualmente, temos aulas que
                            podem ajudar estudantes de
                            qualquer faculdade portuguesa
                            ligada à gestão e economia. No
                            entanto, como somos uma startup
                            e os nossos recursos são limitados,
                            estamos a começar com materiais
                            personalizados apenas para a
                            Faculdade de Economia do Porto
                            (FEP).
                        </p>
                    </div><!--text-container-single-->
                </div><!--container-single-->

                <div class="container-single">
                    <div class="text-container-single">
                        <h2>PARA ONDE VAMOS?</h2>
                        <p>
                            Começando no Porto, pela FEP,
                            queremos chegar a todas as
                            universidades de Portugal. Um
                            sonho nada simples mas que
                            trabalharemos com muito carinho e
                            dedicação para dar certo. Só isso?
                            Não, queremos sempre mais. Os
                            nossos projetos de expansão vão
                            muito além do ensino superior. No
                            futuro, almejamos chegar ao ensino
                            secundário e básico.
                        </p>
                    </div><!--text-container-single-->
                </div><!--container-single-->

                <div class="container-single">
                    <div class="text-container-single">
                        <h2>COMO SURGIU?</h2>
                        <p>
                            Somos estudantes e sabemos a dor
                            de ter aulas cansativas e
                            desestimulantes e até então não
                            tínhamos nenhuma forma de
                            aliviá-la. Foi a partir disso que
                            decidimos criar a Hollow, focada
                            em aliviar a dor dos estudantes
                            portugueses que têm a sua
                            aprendizagem prejudicada por um
                            sistema de ensino não atualizado.
                        </p>
                    </div><!--text-container-single-->
                </div><!--container-single-->
            </div><!--conteiner-section-->
        </div><!--center-->
        <div class="clear"></div>
    </section><!--weare-section-1-->
{% endblock content %}