{% extends 'website/layout/base.html' %}
{% load static %}

{% block title %}Hollow - Quem somos{% endblock title %}



{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'website/css/whoweare.css' %}">

	<div class="image-header">
        <img class="image-1" src="{% static 'website/img/weare_hand.png' %}" style='position:relative; top:0px; left:0px;'>
        <img src="{% static 'website/img/favicon-hollow.png' %}" style='position:absolute; bottom:30px; left:70px; width: 38px;'>
	</div><!--image-header-->

	<div class="weare-text-1">
        <p class="weare-introduction">
            A <span style="color: #E8C854;">Hollow</span> é uma startup de educação, criada em 2020, com o sonho de ajudar
            estudantes a melhorar sua performance e desempenho no âmbito académico. Não
            somos apenas uma plataforma online de vídeo aulas. Queremos, acima de tudo,
            transformar a forma de aprendizagem dos estudantes, desenvolvendo um
            ambiente dinâmico e inovador que implicará uma experiência totalmente
            proveitosa e agradável.
        </p>
	</div><!--weare-text-1-->

    <section class="weare-section-1">
        <div class="center">
            <div class="conteiner-section">
                <div class="container-single">
                    <div class="text-container-single">
                        <h2>ONDE ESTAMOS?</h2>
                        <p>
                            Atualmente, temos aulas que
                            podem ajudar estudantes de
                            qualquer faculdade portuguesa
                            ligada à gestão e economia. No
                            entanto, como somos uma startup
                            e os nossos recursos são limitados,
                            estamos a começar com materiais
                            personalizados apenas para a
                            Faculdade de Economia do Porto
                            (FEP).
                        </p>
                    </div><!--text-container-single-->
                </div><!--container-single-->

                <div class="container-single">
                    <div class="text-container-single">
                        <h2>PARA ONDE VAMOS?</h2>
                        <p>
                            Começando no Porto, pela FEP,
                            queremos chegar a todas as
                            universidades de Portugal. Um
                            sonho nada simples mas que
                            trabalharemos com muito carinho e
                            dedicação para dar certo. Só isso?
                            Não, queremos sempre mais. Os
                            nossos projetos de expansão vão
                            muito além do ensino superior. No
                            futuro, almejamos chegar ao ensino
                            secundário e básico.
                        </p>
                    </div><!--text-container-single-->
                </div><!--container-single-->

                <div class="container-single">
                    <div class="text-container-single">
                        <h2>COMO SURGIU?</h2>
                        <p>
                            Somos estudantes e sabemos a dor
                            de ter aulas cansativas e
                            desestimulantes e até então não
                            tínhamos nenhuma forma de
                            aliviá-la. Foi a partir disso que
                            decidimos criar a Hollow, focada
                            em aliviar a dor dos estudantes
                            portugueses que têm a sua
                            aprendizagem prejudicada por um
                            sistema de ensino não atualizado.
                        </p>
                    </div><!--text-container-single-->
                </div><!--container-single-->
            </div><!--conteiner-section-->
        </div><!--center-->
        <div class="clear"></div>
    </section><!--weare-section-1-->

    <section class="call">
	    <div class="container">
            <div><h2>QUEM ESTÁ A INVESTIR NESSA IDEIA?</h2></div>
        </div><!--container-->
    </section><!--call-->

    <section class="mosaic">
        <div class="container">
            <div class="flex-mosaic odd">
                <div class="item-1-mosaic", style='background-image: url("{% static 'website/img/Gabriel_Albuquerque_small.png' %}"); order: 2;'></div><!--item-1-mosaic-->
                <div class="item-2-mosaic", style="order: 1;">
                    <div class="text">
                        <h2>Gabriel Albuquerque</h2>
                        <p>
                            Sócio fundador e responsável pela parte jurídica e
                            de recrutamento dos instrumentos. Atualmente é
                            aluno da licenciatura de gestão na Faculdade de
                            Economia do Porto(FEP-UP). Acredita que a
                            tecnologia é a maior aliada do estudante.
                        </p>
                    </div>
                    <div class="icons-social">
                        <a href=""><i class="far fa-envelope"></i></a>
                        <a href=""><i class="fab fa-whatsapp"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div><!--icons-social-->
                </div>
            </div><!--flex-mosaic-->

            <div class="flex-mosaic even">
                <div class="item-1-mosaic", style='background-image: url("{% static 'website/img/Gustavo_Borrelli_small.png' %}"); order: 1;'></div><!--item-1-mosaic-->
                <div class="item-2-mosaic", style="order: 2;">
                    <div class="text">
                        <h2>Gustavo Borrelli</h2>
                        <p>
                            Sócio fundador e responsável pela parte de
                            marketing e tecnologia. Atualmente é aluno da
                            licenciatura de Gestão na Escola de
                            Administração de Empresas de São Paulo, na
                            Faculdade Getúlio Vargas (FGV-EAESP). Mesmo
                            noutro país, sente a mesma dificuldade na
                            aprendizagem no ensino superior, e acredita
                            muito que a ideia ajudará milhares de estudantes
                            portugueses.
                        </p>
                    </div>
                    <div class="icons-social">
                        <a href=""><i class="far fa-envelope"></i></a>
                        <a href=""><i class="fab fa-whatsapp"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div><!--icons-social-->
                </div>
            </div><!--flex-mosaic-->

            <div class="flex-mosaic odd">
                <div class="item-1-mosaic", style='background-image: url("{% static 'website/img/João_Guilherme_Almeida_small.png' %}"); order: 2;'></div><!--item-1-mosaic-->
                <div class="item-2-mosaic", style="order: 1;">
                    <div class="text">
                        <h2>João Guilherme Almeida</h2>
                        <p>
                            Sócio fundador e atualmente responsável pela
                            parte pedagógica e comercial da empresa. Aluno
                            da licenciatura em economia no Instituto
                            Brasileiro de Mercado de Capitais (IBMEC).
                            Acredita que a tecnologia pode fazer com que a
                            educação se torne cada vez mais eficaz e
                            igualitária.
                        </p>
                    </div>
                    <div class="icons-social">
                        <a href=""><i class="far fa-envelope"></i></a>
                        <a href=""><i class="fab fa-whatsapp"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div><!--icons-social-->
                </div>
            </div><!--flex-mosaic-->

            <div class="flex-mosaic even">
                <div class="item-1-mosaic", style='background-image: url("{% static 'website/img/Victor_Hugo_Ribeiro_small.png' %}"); order: 1;'></div><!--item-1-mosaic-->
                <div class="item-2-mosaic", style="order: 2;">
                    <div class="text">
                        <h2>Victor Hugo Ribeiro</h2>
                        <p>
                            CEO e sócio fundador. Entusiasta de boas idéias e
                            sonhador. Acredita que a educação é o pilar
                            fundamental da sociedade e sonha em
                            transformar a experiência de aprendizagem do
                            estudante num ensino prazeroso e eficaz.
                            Atualmente é aluno da licenciatura de economia
                            na Faculdade de economia do Porto (FEP-UP).
                        </p>
                    </div>
                    <div class="icons-social">
                        <a href=""><i class="far fa-envelope"></i></a>
                        <a href=""><i class="fab fa-whatsapp"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div><!--icons-social-->
                </div>
            </div><!--flex-mosaic-->
        </div><!--container-->
    </section><!--mosaic-->
{% endblock content %}