{%load static%}
<footer class="main-footer">
    <div class="container pt-3 text-right">
        <a href="{% url 'index' %}">
            <img src="{% static 'website/img/question.png'%}" class="shadow-footer" alt="logo_hollow">
        </a>
    </div>
    <!-- Main block -->
    <div class="container pt-2 bg-gray-100 text-sm-center align-items-center bg-footer">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-5 mb-lg-0 text-left">
                <a href="{% url 'index' %}">
                    <img src="{% static 'website/img/logo_hollow_v.png'%}" class="w-25" alt="logo_hollow">
                </a>
            </div>
            <div class="col-lg-4 col-sm-12 mb-5 mb-lg-0 align-self-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.linkedin.com/company/codeandcoffee55" target="_blank" title="linkedin" class="text-muted text-hover-primary"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/codeandcoffee55/" target="_blank" title="facebook" class="text-muted text-hover-primary"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.facebook.com/codeandcoffee55" target="_blank" title="instagram" class="text-muted text-hover-primary"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCechj30VK--Ov1HmdQwTzbQ" target="_blank" title="youtube" class="text-muted text-hover-primary"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-12 text-right">
                <ul class="list-unstyled">
                    <li><a href="{% url 'contact' %}" class="text-muted">Contato</a></li>
                    <li><a href="{% url 'workwithus' %}" class="text-muted">Trabalhe conosco</a></li>
                    <li><a href="{% url 'whoweare' %}" class="text-muted">Sobre nós</a></li>
                    <li><a href="{% url 'index' %}" class="text-muted">Termos de uso</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright section of the footer-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <p class="mb-md-0">&copy; 2020 Todos os direitos reservados pertencem à Hollow</p>
            </div>
            <div class="col-md-6 text-right">
                <a href="{% url 'index' %}" class="text-muted">Política de privacidade</a>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer end-->