/* your styles go here */

body{
    background-color: #fff !important;
    color: #000000;
    font-size: 0.6rem !important;
    box-shadow:  1px 1px 2px 2px rgba(0.28, 0.31, 0.34, 0.5) ;
}

.navbar .nav-link {
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    text-shadow: 0.4px 0.4px #495057;
}

.navbar .nav-link:hover {
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    color:  #495057 !important;
    background-color:  #f3c745;
    border-color:  #f3c745;
    border-radius: 0.25rem !important;
    line-height: 1.0 !important;
    box-shadow:  2px 2px 2px 2px rgba(0.28, 0.31, 0.34, 0.5) ;
}

.btn-warning-hollow{
    color: #fff;
    background-color:  #f3c745;
    border-color:  #f3c745;
    line-height: 1.0 !important;
    font-size: 0.8rem !important;
    box-shadow:  1px 1px 2px 2px rgba(0.28, 0.31, 0.34, 0.5);
    font-weight: bold;
}

.btn-light-hollow{
    line-height: 1.0 !important;
    font-size: 0.8rem !important;
    box-shadow:  1px 1px 2px 2px rgba(0.28, 0.31, 0.34, 0.5);
    font-weight: bold;
}

/* Hollow color for details*/

.yellow-hollow{
    color: #f3c745 !important;
}

.gray-hollow{
    background-color: #495057;
}

.img-hollow{
    width: 50%
}

.icone-hollow{
    width: 60px !important;
    height: auto;
}

.ribbon-hollow{
    background-color: #f3c745 !important;
    color: white;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    vertical-align: middle;
}

.ribbon-hollow-white{
    background-color: #fff !important;
    color: white;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    vertical-align: middle;
}
i{
    font-size: 2em;
    color: #495057 !important;
    opacity: 65%;
}
a {
    color: #7d7d7d;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color:#f3c745 !important;
    text-decoration: none;
    background-color: transparent;
}

ul{
    list-style-type:none;
    font-size: 0.8rem !important;
    font-weight: 700 !important;
}
/*Footer*/
.bg-footer{
    background-color: #f0f0f0;
}
.shadow-footer{
    width: 50px;
    height: auto;
    text-align: right;
    box-shadow:  1px 1px 2px 2px rgba(0.28, 0.31, 0.34, 0.5) ;
}