div.image-header {
  position: relative;
  top: -150px;
  left: 0;
  width: 100%;
}

div.image-header img.image-1 {
  width: 100%;
  object-fit: cover;
  position: relative;
  top: 0px;
  left: 0px;
}

div.image-header img.image-page-title {
  margin-top: 24vh;
  margin-left: 5%;
  position: absolute;
  width: 90%;
  top: 0px;
  left: 0px;
}

div.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.page-content div.text-1-title {}

div.page-content div.text-1-body {}