div.image-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  top: 0px;
  position: relative;
  left: 0px;
}

div.image-header img.image-1 {
  width: 100%;
  position: relative;
  top: -150px;
  margin-bottom: -150px;
}

div.image-header img.image-page-title {
  margin-top: 2vw;
  margin-left: 5%;
  position: absolute;
  width: 90%;
}

div.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

div.text-1 div.text-title {}

div.text-1 div.text-body {}