.header {
  display: flex;
  align-items: center;
}

#header-image-bg {
  width: 100%;
}

#transforme-bg {
  width: 95%;
  position: absolute;
  margin-top: 13%;
  padding-left: 2.5%;
}

#buttons {
  position: absolute;
  margin-top: -17%;
  width: 100%;
  text-align: center;
}

.button {
  color: #4d4c4d;
  font-size: 1.5vw;
  font-weight: 500;
  text-shadow: 1px 1px 1px #4d4c4d;
}

.button-bg {
  background-color: #e8c854;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 1vw;
  text-shadow: none;
  font-weight: 700;
  box-shadow: 2px 2px 5px #4d4c4d;
}

.button-bg:hover {
  background-color: #4d4c4d;
  padding: 1vw 2vw 1vw 2vw;
  text-decoration: none;
  border-radius: 1vw;
}

#background-img {
  width: 95%;
  position: absolute;
  padding-left: 2.5%;
}

.body-content-1 {
  display: flex;
  width: 100%;
}

.video-section {
  padding: 10% 10% 10% 10%;
  display: flex;
  justify-content: center;
}

#video {
  text-align: center;
  width: 70%;
  box-shadow: 4px 4px 7px #4d4c4d;
}

#content-row {
  width: 100vw;
  height: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-content {
  align-items: center;

  border: 1px solid black;
  width: 30vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.imgs {
  width: 25%;
}


.card-title {
 
  margin-bottom: 16px;
  font-size: 4vw;
  color: #E8C854;
  font-weight: bold;
}