/*main image(Firts section)*/
.index-main-image {
  position: relative;
  justify-content: center;
}

.index-start-now-buttons {
  position: absolute !important;
  top: 75%;
}

.index-start-button {
  border-radius: 10px !important;
}

.index-start-link {
  text-transform: none !important;
  font-size: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  color: black !important;
  text-decoration: none;
  font-family: serif;
  letter-spacing: 0.08vw !important;
}

.index-text-over-image {
  position: absolute !important;
  top: 15vw;
  left: 0;
}

/*end firts section*/

/* video section (second section)*/

/* device screen's */
@media (max-width: 768px) {
  .index-video {
    position: relative;
    height: 70vh;
    text-align: center;
    align-items: center;
  }

  .index-video div {
    height: 50%;
  }

  .col-12 iframe {
    width: 75%;
    height: 100%;
  }
}

/* For screens with aspcet radio 4:3 */
@media (max-width: 1280px) and (min-width: 767px) {
  .index-video {
    position: relative;
    height: 100vh;
    text-align: center;
    align-items: center;
  }

  .index-video div {
    height: 80vh;
  }

  .col-12 iframe {
    width: 80vh;
    height: 100%;
  }
}

/*for screen's with aspect ration 16:10*/
@media (min-width: 1281px) {
  .index-video {
    position: relative;
    height: 100vh;
    text-align: center;
    align-items: center;
  }

  .index-video div {
    height: 70%;
  }

  .col-12 iframe {
    width: 55%;
    height: 100%;
  }
}

/*Video section (second section) */
