.center{
    width: 100%;
    margin: 0 auto;
}

.clear{
    clear: both;
}

div.image-header {
    position: relative;
    top: -150px;
    left: 0;
    width: 100%;
}

div.image-header img.image-1{
    width: 100%;
    height: 95vh;
    object-fit: cover;
}

div.weare-text-1{
    position: relative;
    top: -100px;
    width: 81%;
    height: auto;
    margin-left: 10%;
}

div.weare-text-1 p{
    font-family: "League Spartan Bold";
    font-size: 30px;
    font-weight: bold;
    text-align: justify;
    text-align-last: center;
    line-height: 1;
    color: black;
}

/*****************weare-section-1*********************/
section.weare-section-1{
    position: relative;
    top: -50px;
    padding: 0px 1%;
}

section.weare-section-1 div.center h2{
    text-align: center;
    color: #E8C854;
    font-size: 35px;
    font-weight: bold;
    font-family: "League Spartan Bold";
}

section.weare-section-1 .container-section{
    margin-top: 10px;
    text-align: center;
}

section.weare-section-1 .container-single{
    float: left;
    width: 33.333%;
    padding: 10px;
}

section.weare-section-1 .container-single p{
    display: inline-block;
    text-align: justify;
    text-align-last: center;
    line-height: 1;
    padding: 0px 20px;
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #868589;
}
/**************************************/

/***********Call***********************/
section.call{
	width: 100%;
	text-align: center;
}

section.call h2{
    color: #E8C854;
    font-family: "League Spartan Bold";
}
/************************************/

/*********Mosaic********************/
section.mosaic .container{
	width: 100%;
	margin: 50px auto;
}

.flex-mosaic{
    position: relative;
    display: flex;
    margin-bottom: 60px;
}

.flex-mosaic:last-child{
    margin-bottom: 0px;
}

.item-1-mosaic{
    background-position: center;
    background-size: cover;
    width: 53%;
    height: 530px;
}

.item-2-mosaic{
    padding: 60px 40px;
    width: 47%;
}
.item-2-mosaic h2{
    font-size: 40px;
    font-family: "League Spartan Bold";
    color: #868589;
}
.item-2-mosaic p{
    font-size: 18px;
    font-family: "League Spartan Bold";
    font-weight: bold;
    color: #868589;

}
section.mosaic div.container div.odd h2, section.mosaic div.container div.odd p{
    text-align: right;
}
section.mosaic div.container div.text{
    position: relative;
    bottom: -170px;
}

/**********************************/

/*****icons-social*****************/
section.mosaic div.container div.flex-mosaic div.item-2-mosaic div.icons-social{
    margin-top: 20px;
    position: absolute;
    top: 460px;
}

section.mosaic div.container div.odd div.item-2-mosaic div.icons-social{
    right: 55%;
}

section.mosaic div.container div.flex-mosaic div.item-2-mosaic div.icons-social a{
    text-decoration:none;
    color: white;
    width:40px;
    height:40px;
    display: inline-block;
    margin:0 0px;
    text-align: center;
}

section.mosaic div.container div.flex-mosaic div.item-2-mosaic div.icons-social i{
    line-height: 50px;
    font-size:36px;
}
/**********************************/