div.image-header {
    position: relative;
    top: -150px;
    left: 0;
    width: 100%;
}

div.image-header img.image-1{
    width: 100%;
    height: 115vh;
    object-fit: cover;
    transform: scaleX(-1);
}

/******mosaic-1*********/
section.mosaic-1{
    position: relative;
    top: -100px;
}
section.mosaic-1 div.container{
	width: 100%;
	margin: 0px auto;
    align-items: center;
}

.flex-mosaic-1{
    align-items: center;
    margin: 0 auto;
    position: relative;
    display: flex;
    margin-bottom: 0px;
}

.flex-mosaic-1-1:last-child{
    margin-bottom: 0px;
}

.item-1-mosaic-1{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: 100px;
    width:20%;
    /*max-width: 100px;*/
    height: 100px;
}

.item-2-mosaic-1{
    padding: 60px 0px;
    width: 80%;
}

.item-2-mosaic-1 h2{
    font-size: 42px;
    font-family: "LeagueSpartan-Bold";
    color: #E8C854;
    width: 95%;
}

.item-2-mosaic-1 p{
    font-size: 24px;
    font-family: "LeagueSpartan-Bold";
    font-weight: bold;
    text-align: justify;
    color: #868589;
    width: 95%;
}
section.mosaic-1 div.container div.even h2{
    text-align: right;
}
 section.mosaic-1 div.container div.even p{
     text-align-last: right;
 }
